<div class="container-fluid">
    <footer class="footer-div">
        <div class="footer-div-top row">
            <a [routerLink]="['/home']" class="col-lg-2">
                <img src="../../assets/images/logo.svg" alt="">
            </a>
            <div class="m-li col-lg-3">
                <ul class="d-flex">
                    <li>
                        <a [routerLink]="['/actions']">Акції на суші</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about-us']">Про нас</a>
                    </li>
                    <li>
                        <a [routerLink]="['/oferta']">Оферта</a>
                    </li>
                </ul>
            </div>
            <div class="footer-div-info col-lg-7">
                <div>
                    <p><strong>Точки самовивозу</strong></p>
                    <p>вул. Володимира Великого, 10в</p>
                    <p>вул. Чорновола, 95</p>
                </div>
                <div>
                    <p><strong>Оформити замовлення</strong></p>
                    <a href="tel:+380978780837"><b>+380978780837</b></a>
                </div>
                <div>
                    <p><strong>Графік роботи</strong></p>
                    <p>працюємо з <b>11:00</b> до <b>22:30</b> </p>
                </div>
            </div>
        </div>
        <div class="footer-div-bottom row">
            <div class="col-lg-2">
                <p>© 2023 Evgen Pakhalyuk</p>
            </div>
            <div class="pay-cards col-lg-3">
                <div class="pay-cards-item">
                    <img alt="" src="../../assets/images/pay-card-img-1.svg">
                </div>
                <div class="pay-cards-item">
                    <img alt="" src="../../assets/images/pay-card-img-2.svg">
                </div>
                <div class="pay-cards-item">
                    <img alt="" src="../../assets/images/pay-card-img-3.svg">
                </div>
            </div>
            <div class="m-soc col-lg-7">
                <div class="social">
                    <span>Слідкуйте за нами</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/monosushi.com.ua/" target="_blank">
                                <img alt="" src="../../assets/images/facebook-icon.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/monosushi.com.ua/" target="_blank">
                                <img alt="" src="../../assets/images/instagram-icon.svg">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="develope">
                    <a target="_blank" href="">
                        <span>Створення сайтів EVGSW </span></a>
                </div>
            </div>

        </div>
    </footer>
</div>