<form [formGroup]="userForm" class="pb-1 d-flex flex-column justify-content-between" style="height: 320px;">
    <div>
        <div class="flex-nowrap mb-2">
            <span class="text-primary" id="addon-wrapping" style="min-width: 100px;">І'мя</span>
            <input formControlName="name" type="text" class="form-control" aria-label="Username"
                aria-describedby="addon-wrapping">
        </div>
        <div class="flex-nowrap mb-2">
            <span class="text-primary" id="addon-wrapping" style="min-width: 100px;">Прізвище</span>
            <input formControlName="sename" type="text" class="form-control" aria-label="Sename"
                aria-describedby="addon-wrapping">
        </div>
        <div class="flex-nowrap mb-2">
            <span class="text-primary" id="addon-wrapping" style="min-width: 100px;">Телефон</span>
            <input formControlName="phone" type="text" class="form-control" aria-label="Phone"
                aria-describedby="addon-wrapping">
        </div>
        <div class="flex-nowrap mb-2">
            <span class="text-primary" id="addon-wrapping1" style="min-width: 100px;">E-mail</span>
            <input formControlName="email" type="text" class="form-control" aria-label="Email"
                aria-describedby="addon-wrapping1" readonly>
            <span *ngIf="_email?.invalid && (_email?.touched||_email?.dirty)" class="text-danger fw-bold">X</span>
        </div>
    </div>
    <div>
        <button (click)="updateUser()" type="submit" class="btn btn-primary" [disabled]=userForm.invalid>Змінити
            дані</button>
    </div>
</form>