@import '../../shared/styles/main';

span {
    min-width: 50px;
    color: $main_color;
    font-weight: bold;
}

a,
span[class^='last'] {
    text-decoration: none;
    font-size: 12px;
    color: darkgray;
}