<div class="container-fluid border  p-1">
    <h3 class="mb-4 text-center">Вітаємо у адмін панелі, оберіть дію:</h3>
    <ul class="nav nav-pills mb-3 bg-warning bg-gradient rounded-2" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold" id="pills-actions-tab" data-bs-toggle="pill"
                data-bs-target="#pills-actions" type="button" role="tab" aria-controls="pills-actions"
                aria-selected="true" [routerLink]="['admin-actions']" [routerLinkActive]="'active'">Акції</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold" id="pills-products-tab" data-bs-toggle="pill"
                data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products"
                aria-selected="true" [routerLink]="['admin-products']" [routerLinkActive]="'active'">Продукти</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders"
                type="button" role="tab" aria-controls="pills-orders" aria-selected="true"
                [routerLink]="['admin-orders']" [routerLinkActive]="'active'">Замовлення</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-danger fw-bold" id="pills-contact-tab" data-bs-toggle="pill"
                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false" [routerLink]="['/loginadmin']">Вийти</button>
        </li>
    </ul>
    <div class="tab-content p-1 border rounded-2" id="pills-tabContent">
        <router-outlet></router-outlet>
    </div>
</div>