<div class="rounded-3 m-1">
    <span class="m-1 text-success fw-bold">Ваше замовлення:</span>
    <table class="table m-0">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Назва</th>
                <th scope="col">Кть</th>
                <th scope="col">Вага</th>
                <th scope="col">Ціна</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of basket;index as ind">
                <td>{{ ind+1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.price }} грн</td>

                <td>
                    <button mat-fab color="warn" (click)="deleteProduct(product)" title="Видалити позицію..."
                        type="button" class="btn btn-danger btn-m p-0 del">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="m-1 text-success fw-bold">Разом: {{ total }} грн.</span>
    <div>
        <button mat-stroked-button color="accent" class="btn text-success m-1">Підтвердити</button>
        <button mat-stroked-button color="warm" class="btn text-danger me-1" (click)="clearBasket()">Очистити</button>
        <button mat-stroked-button color="primary" class="btn me-1" (click)="basketClick()">Закрити</button>
    </div>

</div>